.box {
    width: 200px;
    height: 200px;
    display: inline-flex;
    margin-right: 20px;
}
.red {
    background-color: red;
}
.blue {
    background-color:  blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.bigPlant {
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
}